<span class="margin margin--0"></span>
<span class="margin margin--25"></span>
<span class="margin margin--50"></span>
<span class="margin margin--75"></span>
<span class="margin margin--100"></span>

<span class="guide guide--y guide--y24"></span>
<span class="guide guide--y guide--y48"></span>
<span class="guide guide--y guide--yXXr"></span>

<span class="guide guide--x guide--x24"></span>
<span class="guide guide--x guide--x48"></span>
<span class="guide guide--x guide--x72"></span>
<span class="guide guide--x guide--x96"></span>
<span class="guide guide--x guide--x48b"></span>