$font-path: /assets/fonts;

/*
Font weights:
Bold = 700  (.fw7)
Regular = 500 (.fw5)
Light = 300 (.fw3)
*/

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Bold-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Bold-Web.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Light-Web.woff') format('woff');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

.atlas { font-family: 'Atlas Grotesk', 'Helvetica Neue', sans-serif; }

.list {
    &.list--h3 {
        li {
            @extend .text--h3;
            line-height: $base;
        }
    }
    &.list--h4 {
        li {
            @extend .text--h4;
            line-height: $base;
        }
    }

    li {
        a {
            display: block;
        }
    }
}

.grid {
    @extend %clearfix;
    border: solid $base*0.75 transparent;
    position: relative;

    .grid__item {
        border: solid $base/4 transparent;
        display: block;
        float: left;
        overflow: hidden;
        position: relative;
        width: 25%;

        > figure {
            @extend %noselect;
            @include transitionEase(0.5s, all);
            > img {
                display: block;
                height: auto;
                width: $full;
            }
        }
        > figcaption {
            @include transitionEase(0.5s, all);
            @include translate(-1px,6px);
            bottom: 0;
            left: 0;
            opacity: 0;
            padding: $base/2;
            position: absolute;
            right: 0;
            top: 0;
        }

        &:hover {
            > figure {
                opacity: 0.15;
            }
            > figcaption {
                opacity: 1;
            }
        }
    }
}