$font-path: /assets/fonts;

/*
Font weights:
Bold = 700  (.fw7)
Regular = 500 (.fw5)
Light = 300 (.fw3)
*/

@font-face {
    font-family: 'Atlas Grotesk';
    src: url('AtlasGrotesk-Bold-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Bold-Web.woff') format('woff');
    font-weight:  700;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}
@font-face {
    font-family: 'Atlas Grotesk';
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot');
    src: url('#{$font-path}/AtlasGrotesk-Light-Web.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/AtlasGrotesk-Light-Web.woff') format('woff');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

$container: 1200px;

.atlas { font-family: 'Atlas Grotesk', 'Helvetica Neue', sans-serif; }

.list {
    &.list--h3 {
        li {
            @extend .text--h3;
            line-height: $base;
        }
    }
    &.list--h4 {
        li {
            @extend .text--h4;
            line-height: $base;
        }
    }

    li {
        a {
            display: block;
        }
    }
}

.label--section {
    border-bottom: solid 1px $black;
    margin-bottom: $base;
}

.container {
    margin: 0 auto;
    max-width: $container;
    position: relative;
    width: $container;

    @include media-query($on-small) {
        margin: 0;
        max-width: initial;
        width: $full;
    }
}

.columns {
    @extend %clearfix;
    
    .column {
        float: left;
        padding: 0 $base/2;
    }
}

.grid {
    @extend %clearfix;
    padding: $base 0;
    position: relative;

    .grid__item {
        display: block;
        float: left;
        overflow: hidden;
        padding: $base/4;
        position: relative;
        width: 25%;

        @include media-query($on-small) {
        }
        @include media-query($on-touch) {
            width: $full;
        }

        > figure {
            @extend %noselect;
            @include transitionEase(0.35s, all);
            position: relative;

            > img {
                display: block;
                height: auto;
                width: $full;
            }

            &::after {
                border: solid 1px red;
                bottom: $base/2;
                content:'';
                display: none;
                left: $base/2;
                position: absolute;
                right: $base/2;
                top: $base/2;
            }
        }
        > figcaption {
            @include transitionEase(0.5s, all);
            //@include translate(0px,-3px);
            @include flexbox();
            @include align-content(center);
            @include align-items(center);
            @include flex-flow(column nowrap);
            @include justify-content(center);
            bottom: 0;
            left: 0;
            opacity: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;

            > span {
                padding: 0 $base;
            }
        }

        &:hover {
            > figure {
                @include scale(1.02);
                opacity: 0.05;
            }
            > figcaption {
                @include transitionEase(0.75s, all);
                opacity: 1;
            }
        }
    }
}