.header--fixed,
.footer--fixed {
	height: $full;
	position: relative;

	.container {
		left: 50%;
		margin-left: -600px;

		@include media-query($on-small) {
    	    left: initial;
    	    margin: 0;
    	}
	}
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	position: relative;
	width: 1200px;

	@include media-query($on-small) {
		margin: 0;
		max-width: initial;
		padding: 0 $base/2;
        width: $full;
    }
}

.hero {
	@include flexbox();
	@include align-content(center);
	@include align-items(center);
	@include flex-flow(row nowrap);
	@include justify-content(center);
	background-color: pink;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: $full;
	z-index: 100;

	.hero__link {
		cursor: pointer;
		display: block;
		height: 65%;
		width: 75%;
	}
}