.product__gallery {
	display: block;
	height: $full;
	overflow: hidden;
	width: $full;
	z-index: 100;

	.product__image {
		background-position: 100% center;
		background-repeat: no-repeat;
		background-size: 125% auto;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	.gallery__frame {
		@include flexbox();
		@include align-content(flex-start);
		@include align-items(flex-start);
		@include flex-flow(column wrap);
		@include justify-content(center);
		//background-color: rgba(0,255,0,0.1);
		height: $full;

		.gallery__trigger {
			background-color: transparent;
			border: solid 1px $black;
			border-radius: 50%;
			height: $base/2;
			margin: $base/2 26px;
			text-indent: -9999em;
			width: $base/2;
		}
	}
}

.product__data {
	height: $full;
	position: absolute;
	top: 0;
	z-index: 999;

	.data__container {
		@include flexbox();
		@include align-content(flex-start);
		@include align-items(flex-end);
		@include flex-flow(column nowrap);
		@include justify-content(center);
		bottom: 0;
		padding-left: $base/2;
		padding-right: $base;
		position: absolute;
		right: 0;
		top: 0;
		width: 25%;
	}	

	.product__block {
		display: block;
		width: $full;
	}
	.product__price {
		border-bottom: solid 1px $black;
		padding-bottom: 6px;
	}
	.product__title {
		padding-top: 8px;
	}
	.product__body {
		@extend %ruler--top-24;
		@extend %ruler--bottom-24;
		position: relative;
		padding: 36px 0;

		&::before {
			top:-8px;
		}
		&::after {
			bottom:-6px;
		}
	}
	.product__data-pair {
		@extend %clearfix;
		position: relative;

		> span {
			display: block;
			float: left;
			line-height: $base;
			width: 50%;
		}
		.pair__variable {
			@extend %noselect;
		}
	}
	.product__action {
		@include flexbox();
		@include align-content(flex-start);
		@include align-items(center);
		@include flex-flow(row nowrap);
		@include justify-content(flex-start);
		padding: $base/2 0;

		.btn {
			width: 50%;
		}
	}
}

.container__block {
	display: block;
	height: 400px;
}