<nav class="w-100 absolute top-0 left-0">
	<a href="#" class="db f7 ttu tracked link pl4 pv1">Collections</a>
	<ul class="list pa0 pl4">
		<li class="f5 lh-title"><a href="#" class="db bb b--hando-20 link pv1">Category 1</a></li>
		<li class="f5 lh-title"><a href="#" class="db bb b--hando-20 link pv1">Category 2</a></li>
		<li class="f5 lh-title"><a href="#" class="db bb b--hando-20 link pv1">Category 3</a></li>
		<li class="f5 lh-title"><a href="#" class="db bb b--hando-20 link pv1">Category 4</a></li>
		<li class="f5 lh-title"><a href="#" class="db bb b--hando-20 link pv1">Category 5</a></li>
	</ul>
</nav>