.btn {
	@extend .text--h4;
	@include transition(0.15s, all);
	background-color: transparent;
	border: solid 1px $black;
	cursor: pointer;
	font-weight: 600;
	line-height: $base;
	padding: 0 $base/4;
	margin: 0;


	&:focus {
		outline: none;
	}

	&:active {

	}
}