.footer--fixed {
	.footer {
		@include translate(-50%,0);
		bottom: 0;
		height: $base*4;
		left: 50%;
		position: absolute;
		top: initial;
		z-index: 9999;

		.footer__menu {
			bottom: $base*2;
			position: absolute;
		}
		.footer__subscribe {
			top: 0;
		}
		.footer__support {
			top: initial;
		}
	}
}

.footer {
	@extend %clearfix;
	background-color: pink;
	display: block;
	padding: $base 0;
	padding-bottom: $base*1.5;
	position: relative;

	.footer__menu {
		float: left;
		width: 25%;

		&.footer__menu--left {
			float: left;
			padding-left: $base*1.5;
			padding-right: $base/4;
		}
		&.footer__menu--right {
			float: right;
			padding-left: $base/4;
			padding-right: $base*1.5;
		}

		.list {
		}
	}
	.footer__subscribe {
		display: none;
		height: $base*2;
		left: 37.5%;
		position: absolute;
		width: 25%;
	}
}