.footer--fixed {
	.footer {
		bottom: 0;
		height: $base*4;
		position: absolute;
		top: initial;
		z-index: 9999;

		.footer__menu {
			bottom: $base*2;
			position: absolute;
		}
		.footer__subscribe {
			top: 0;
		}
		.footer__support {
			top: initial;
		}
	}
}

.footer {
	@extend %clearfix;
	display: block;
	padding: $base 0;
	padding-bottom: $base*1.5;
	position: relative;

	.footer__menu {
		float: left;
		padding: 0 $base*1.5;
		width: 25%;

		.list {
		}
	}
	.footer__subscribe {
		display: none;
		height: $base*2;
		left: 37.5%;
		position: absolute;
		width: 25%;
	}
	.footer__support {
		border: solid 1px $black;
		border-radius: 50%;
		bottom: $base*2;
		height: $base*2;
		position: absolute;
		right: $base/2;
		text-indent: -9999em;
		top: $base;
		width: $base*2;
	}
}