.menu--collections {
	position: relative;

	.toggle--collections {
		cursor: pointer;
		display: block;
		line-height: $base*2;
		padding-left: $base;

		&::after {
			@include rotate(-45);
			border-left: solid 1px $black;
			border-bottom: solid 1px $black;
			content:'';
			height: 8px;
			left: 2px;
			position: absolute;
			top: 16px;
			width: 8px;
		}

		&.active {
			&::after {
				@include rotate(135);
				top: 20px;
			}
		}
	}
	.list--collections {
		//background-color: rgba(255,255,255,0.75);
		display: none;
		padding-bottom: $base;
		padding-left: $base;
		position: absolute;
		width: $full;
		z-index: 9999;

    	@include media-query($on-touch) {
    		background-color: lime;
    	}

		&.visible {
			display: block;
		}
	}
}