.footer__subscribe {
	padding: 0 $base/2;

	.input {
		@extend .text--h3;
		border: solid 1px $contrast;
		font-weight: 300;
		line-height: 46px;
		padding: 0 $base/2;
		width: $full;

		&:focus {
			outline: 0;
		}
	}
}