---
layout: index
---

<div class="product__top">

	<figure class="product__gallery" style="background-image:url(/assets/images/hando-hero01b.jpg");">
	</figure>
	
	<div class="product__data">
		<p class="product__price">
			<span class="text--h3">$50</span>
			<span class="text--h4">CAD</span>
		</p>
		<p class="text--h3 product__title"><strong>Tethered Blocks</strong></p>
		<p class="text--h3 product__designer"><span class="text--h4">Designed by</span> Nils Berger, Denmark</p>
		<p class="text--h3 product__origin"><span class="text--h4">Made in</span> Latvia</p>
		<p class="text--h3 product__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>

		<p class="product__data-pair">
			<span class="text--h4 pair_variable">Availability</span>
			<span class="text--h3 pair__value"> variable</span>
		</p>
		<p class="product__data-pair">
			<span class="text--h4 pair_variable">Dimensions</span>
			<span class="text--h3 pair__value"> variable</span>
		</p>
		<p class="product__data-pair">
			<span class="text--h4 pair_variable">Ages</span>
			<span class="text--h3 pair__value"> variable</span>
		</p>
		<p class="product__action">
			<span class="text--h4">Quantity</span>
			<span class="fl cf bg-red">
				<span class="dib fl" id="product__qty">{% include components/quantity.html %}</span>
				<span class="dib fl" id="product__add">{% include components/button.html %}</span>
			</span>
		</p>
	</div>
</div>

<div class="product__extended">
	{{ content }}
</div>

<div class="product__related collection grid">

	<a href="/product" class="grid__item">
		<figure><img src="/assets/images/fw16-OS1001-A-thumb.jpg" ></figure>
		<figcaption>
			<span class="text--h3">Very Very Long Annoying Product Name</span>
		</figcaption>
	</a>

	<a href="/product" class="grid__item">
		<figure><img src="/assets/images/fw16-OS1001-A-thumb.jpg" ></figure>
		<figcaption>
			<span class="text--h3">Very Very Long Annoying Product Name</span>
		</figcaption>
	</a>

	<a href="/product" class="grid__item">
		<figure><img src="/assets/images/fw16-OS1001-A-thumb.jpg" ></figure>
		<figcaption>
			<span class="text--h3">Very Very Long Annoying Product Name</span>
		</figcaption>
	</a>

	<a href="/product" class="grid__item">
		<figure><img src="/assets/images/fw16-OS1001-A-thumb.jpg" ></figure>
		<figcaption>
			<span class="text--h3">Very Very Long Annoying Product Name</span>
		</figcaption>
	</a>

</div>